<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css" />
<%- include('../partials/nav') %> 
<main>
  <h1><%= title %> </h1>
  <p>Please check if the meal is not already in the dropdown.
    <select id="meal-dropdown">
      <% meals.forEach(meal => { %>
        <option><%= meal.name %> </option>
      <% }) %> 
    </select>
  </p>
  <form id="add-meal-form" action="/meals" method="POST" autocomplete="off">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Meal</button>
  </form>

</main>


<%- include('../partials/footer') %> 