<%- include('../partials/html-head') %>
<%- include('../partials/nav') %> 
<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight #</th>
        <th>Departures</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight =>{ %>
        <tr class="<%- flight.color %> ">
          <td>
            <form
            action="/flights/<%= flight._id %>?_method=DELETE" 
            class="delete-form" 
            method="POST"
            >
              <button type="submit">X</button>
            </form>
          </td>
          <td><a href="/flights/<%= flight._id %>"><%= flight.airline %></a></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
        </tr>
      <% }) %> 
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %> 