<%- include('../partials/html-head') %>
<%- include('../partials/nav') %> 
<main>
  <h1><%= title %> </h1>
  <section>
<a href="/flights/<%= flight._id%>/edit"><button type="submit">Edit</button></a>
<h2>Flight #<%= flight._id %></h2>
<h3><%= flight.airline%> </h3>
<h3><%= flight.airport %></h3>
<h3><%= flight.flightNo %></h3>
<h3><%= flight.departs %></h3>
<a href="/flights">Go Back</a>
<h2>Tickets</h2>
<form 
  id="add-ticket-form"
  action="/flights/<%= flight._id %>/tickets"
  method="POST"
  >
  <label for="seat-input">Seat:</label>
  <input name="seat" id="seat-input" required pattern="[A-F][1-9]\d?" placeholder="A1 - F99">
  <label for="price-input">Price: $</label>
  <input type="number" name="price" id="price-input" placeholder="0">
  <button type="submit">Add Ticket</button>
</form>
<% if (flight.tickets.length) {%>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(ticket =>{ %>
        <tr>
          <td><%= ticket.createdAt.toLocaleDateString() %></td>
          <td><%= ticket.seat %></td>
          <td>$<%= ticket.price %></td>
          <td>
            <form action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
            <button>X</button>
          </form>
          </td>
        </tr>

      <% }) %> 
    </tbody>
  </table>
<% } else {%> 
  <h3>No Tickets Yet</h3>
<% } %> 
<h2>Current Meals:</h2>
<ul>
  <% flight.meals.forEach(flightMeal => { %>
    <li><%= flightMeal.name %> </li>

  <% }) %> 
</ul>
</section>
<div><h2>Add a Meal:</h2>
<form id="add-meal-to-meals" action="/flights/<%= flight._id%>/meals" method="POST">
  <select name="mealId">
    <% meals.forEach(meal =>{%>
      <option value="<%= meal._id %>"><%= meal.name %> </option>
    <%}) %>
  </select>
  <button type="submit">Add Meal</button>
</form>
</div>
</main>

<%- include('../partials/footer') %> 