<%- include('../partials/html-head') %>
<%- include('../partials/nav') %> 

<a href="/flights/<%= flight._id%>/edit">Edit</a>
<h2>Flight #<%= flight._id %></h2>
<h3><%= flight.airline%> </h3>
<h3><%= flight.airport %></h3>
<h3><%= flight.flightNo %></h3>
<h3><%= flight.departs %></h3>
<a href="/flights">Go Back</a>

<%- include('../partials/footer') %> 